  .scroll {
    max-height: 90%;
    overflow-y: scroll;
  }

  .select-chat-scroll {
    max-height: 100%;
    overflow-y: scroll;
  }

  .select-chat-scroll::-webkit-scrollbar-track {
    background: #88888800;
  }

  .select-chat-scroll::-webkit-scrollbar-thumb {
    background: #58585800;
  }

  .select-chat-scroll::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }

  .select-chat-scroll:focus {
    border: 0;
    outline: 0;
  }

  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    border-color: #ffbe0b !important;
  }

  .invalid-feedback {
    color: #ffbe0b !important;
  }

  body {
    background-color: turquoise
  }

  .max-width-50per {
    max-width: 50% !important;
  }

  .send-message-container {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
  }

  .send-message-input {
    resize: none !important;
    max-height: 50vh !important;
    width: 100%;
    border: 0;
    font-size: 20px;
  }

  .send-message-input::-webkit-scrollbar-track {
    background: #88888800;
  }

  .send-message-input::-webkit-scrollbar-thumb {
    background: #88888800;
  }

  .send-message-input::-webkit-scrollbar-thumb:hover {
    background: #55555500;
  }

  .send-message-input:focus {
    border: 0;
    outline: 0;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #8888887a;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .chat-bg {
    background-image: url('../Pictures/bg-picture.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .chat-transfer {
    word-break: break-all;
  }

  .time-font {
    font-size: 14px;
  }

  .chat-list {
    background-color: #fefae0;
    user-select: none;
  }

  .chat-icon-size {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ad6767;
    border-radius: 100px;
    border: 2px black dashed;
    height: 60px;
    width: 60px;
  }

  .chat-title-icon-size {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px black dashed;
    height: 55px;
    width: 55px;
  }

  .chat {
    border-radius: 20px;
  }

  .selected {
    background-color: #ffbe0b !important;
  }

  .chat-hover:hover {
    cursor: pointer;
    background-color: rgb(247, 242, 204);
  }

  .participants {
    font-size: 14px;
    color: gray;
  }

  .more-chat-info {
    fill: #888;
  }

  .more-chat-info:hover {
    fill: #4b4a4a;
  }

  .option{
    border-radius: 10px;
    background-color: #fefae0;
    border: 1px black solid;
    font-size: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .option>div:hover{
    cursor: pointer;
    background-color: rgb(247, 242, 204);
    font-weight: bold;
  }

  .option>div:hover>svg{
    width: 28px;
    height: 28px;
  }

  .option svg{
    width: 26px;
    height: 26px;
  }


  .chat-info-option{
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px black solid;
    padding-left: 10px;
    padding-right: 10px;
  }

  .chat-info-option>div:hover{
    cursor: pointer;
    font-weight: bold;
  }

  .chat-info-option>div:hover>svg{
    width: 28px;
    height: 28px;
  }

  .chat-info-option svg{
    width: 26px;
    height: 26px;
  }
  
  .round{
    border-radius: 20px !important;
  }