$primary: #be850b;
$secondary: #886d0b;
$success: #7fa931;
$info: #19b5e0;
$warning: #fec311;
$danger: hsl(0, 85%, 48%);
$light: #f8f9fa;
$dark: #313132;

@import '~bootstrap/scss/bootstrap.scss';


body.root-dark {
    --bs-body-bg: #023e8a;
    --input-focus: #35c0ea;
    --input-focus-bg: #1e96fc;
    --input-bg: #4ea8de;
    --chat-bg: url('../pictures/bg-picture-dark.jpg');
    --small-bg: url('../pictures/bg-picture-dark-small.jpg');
    --warning-color: rgb(240, 213, 10);
    --message-container: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    --tech-color: #2172bd;
    --text-color: #fcecec;
    --icon-border-color: #000000;
    --date-color: #0f5291;
    --selected-element: #03045e;
    --hovered-element: #0096c7;
    --participants-color: rgb(159, 153, 153);
}

body,
body.root-light {
    --warning-color: rgb(240, 213, 10);
    --input-focus: #fcb75d;
    --input-focus-bg: #fcdc5d;
    --input-bg: #fefae0;
    --bs-body-bg: #fefae0;
    --hovered-element: rgb(241, 227, 123);
    --selected-element: #f9cd55;
    --chat-bg: url('../pictures/bg-picture.jpg');
    --small-bg: url('../pictures/bg-picture-small.jpg');
    --text-color: #000000;
    --icon-border-color: #000000;
    --tech-color: #937539;
    --date-color: #675023;
    --message-container: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    --participants-color: rgb(159, 153, 153);
}



select:focus,
input:focus,
.uneditable-input:focus {
    background-color: var(--input-focus-bg) !important;
    border-color: var(--input-focus) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--input-focus) !important;
    outline: 0 none !important;
}

select,
input {
    border-color: var(--icon-border-color) !important;
    color: var(--text-color) !important;
    background-color: var(--input-bg) !important;
}

.additional-info-node {
    color: var(--text-color) !important;
}

.additional-info-node:hover {
    background-color: var(--input-focus) !important;
}

div {
    color: var(--text-color);
}

* {
    word-break: break-word !important;
}

.scroll {
    max-height: 90%;
    overflow-y: scroll;
}

.select-chat-scroll {
    max-height: 100%;
    overflow-y: scroll;
}

.select-chat-scroll::-webkit-scrollbar-track {
    background: #88888800;
}

.select-chat-scroll::-webkit-scrollbar-thumb {
    background: #58585800;
}

.select-chat-scroll::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.select-chat-scroll:focus {
    border: 0;
    outline: 0;
}

.max-width-30per {
    max-width: 30% !important;
}

.send-message-container {
    padding: 15px;
    background: var(--message-container);
    color: var(--text-color);
    border-radius: 15px;
}

::placeholder {
    color: var(--text-color) !important;
}

.send-message-input {
    resize: none !important;
    max-height: 10vh !important;
    background: var(--message-container);
    color: var(--text-color);
    width: 100%;
    border: 0;
    font-size: 20px;
}

.send-message-input::-webkit-scrollbar-track {
    background: #88888800;
}

.send-message-input::-webkit-scrollbar-thumb {
    background: #88888800;
}

.send-message-input::-webkit-scrollbar-thumb:hover {
    background: #55555500;
}

.send-message-input:focus {
    border: 0;
    outline: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #8888887a;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-bg {
    background-color: #00000000;
    background-image: var(--chat-bg);
    background-repeat: no-repeat;
    background-size: cover;
}

.time-font {
    font-size: 14px;
}

.chat-text-color {
    color: var(--text-color);
}

.chat-list {
    background-color: var(--bs-body-bg);
    user-select: none;
}

.message-date-color {
    color: var(--date-color) !important;
}

.message-text-color {
    color: var(--text-color) !important;
}

.message-tech-color {
    color: var(--tech-color) !important;
}

.message-style {
    border-radius: 20px;
    background: var(--message-container);
    color: var(--text-color);
    padding: 10px;
}

.chat-icon-size {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    height: 60px;
    width: 60px;
    color: var(--icon-border-color) !important;

}

.chat-title-icon-size {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    height: 55px;
    width: 55px;
    color: var(--icon-border-color) !important;

}

.ico-color {
    color: var(--icon-border-color) !important;
}

.chat-title-icon-size-xl {
    height: 100px;
    width: 100px;
    font-size: 60px;
}

.chat {
    color: var(--text-color);
    border-radius: 20px;
}

.selected {
    color: var(--text-color);
    background-color: var(--selected-element) !important;
}

.chat-hover:hover {
    cursor: pointer;
    background-color: var(--hovered-element);
    ;
}

.participants {
    font-size: 14px;
    color: var(--participants-color);
}

.more-chat-info {
    fill: #888;
}

.more-chat-info:hover {
    fill: #4b4a4a;
}

.option {
    border-radius: 10px;
    background-color: var(--selected-element);
    border: 1px var(--icon-border-color) solid;
    color: var(--text-color);
    font-size: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
}

.option>div:hover {
    cursor: pointer;
    background-color: var(--hovered-element);
    font-weight: bold;
}

.option>div:hover>svg {
    width: 28px;
    height: 28px;
}

.option svg {
    width: 26px;
    height: 26px;
}


.chat-info-option {
    z-index: 100;
    border-radius: 10px;
    border: 1px var(--icon-border-color) solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--selected-element);
}

.chat-info-option>div:hover {
    cursor: pointer;
    font-weight: bold;
}

.chat-info-option>div:hover>svg {
    width: 28px;
    height: 28px;
}

.chat-info-option svg {
    width: 26px;
    height: 26px;
}

.round {
    border-radius: 20px !important;
}

.chat-header-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.chat-header-emoji>svg {
    fill: var(--selected-element);
    width: 48px;
    height: 48px;
}

.chat-header-emoji>svg:hover {
    fill: var(--hovered-element);
}

.custom-svg:hover {
    fill: var(--selected-element);
}

.warning-sign {
    width: 110px;
    height: 110px;
}

.smile-text-color {
    color: var(--tech-color);
}

.d-message-none {
    opacity: 0;
    z-index: -10;
}

.d-message-none>div:hover {
    cursor: default !important;
}

.selec-file-avatar {
    border-radius: 100px;
    background-color: #42414174;
    color: $light;
}

.selec-file-avatar>* {
    opacity: 0.3;
    transition: opacity 0.5s;
}

.selec-file-avatar>*:hover {
    opacity: 1;
}

.selec-file-message>* {
    z-index: 3;
    height: 36px;
    width: 36px;
    fill: #888888;
    opacity: 0.3;
    transition: opacity 0.5s;
}

.selec-file-message>*:hover {
    fill: #515151;
    opacity: 1;
}

.send-icon {
    width: 480px;
    height: 360px;
}

.img {
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    object-position: center;
}

img.main-img-load {
    width: 100%;
    height: 100%;
    content: var(--small-bg);
}

.blur-load {
    background-size: cover;
    background-position: cover;
}

.drop-bg {
    background-color: #00000000 !important;
}